<% if @article.errors.any? %>
<h1>The following errors prevented the article from Getting created</h1>
<ul>
   <% @article.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
   <% end %>
</ul>
<% end %>
<div class="row">
   <div class="col-md-12">
   <%= form_for @article do |f| %>

   <div class="form-group row">
    <%= f.label :title, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-8">
      <%= f.text_field :title, class: 'form-control', placeholder: "Title of article" %>
    </div>
  </div>
   <div class="form-group row">
   <%= f.label :description, class: 'col-sm-2 col-form-label'%>
   <div class="col-sm-8">
      <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Body of article" %>
   </div>
   </div>
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-8">
         <%= f.submit class: "btn btn-primary" %>
         </div>
      </div>
   <% end %>
   </div>
</div>
